.text-area {
    -fx-font: 45px Tahoma;
    -fx-font-weight: bold;
}

.text-area .content {
    -fx-background-color: #000000;
    -fx-background-image: url(/resource/oldPaper.jpg);
    -fx-background-position: center center;
    -fx-background-size: cover;
    
    
}
.text-area *.text {
    -fx-text-alignment: center;
}